*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-color: rgb(71, 60, 47);
}
.head{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: azure;
   text-align: center;
   margin-top: 50px;
   margin-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin: auto ;
}
.images{
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    
}

img{
    width: 150px;
    height: 150px;
    cursor: pointer;

}
.winner{
    margin-top: 30px;
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}
.winner div{
    margin-top: 50px;
    margin-left:50px ;
}
h4{
    text-align: center;
    font-size: 35px;
}
.score{
    font-size: 30px;
    display: flex;
    width: 55vw;
    justify-content: center;
}
#scoreyou{
    position: relative;
    margin-right: 50px;
}
.title h1{
   text-align: center;
   color: white;
   margin-top: 10px;
   margin-bottom: 10px;
}